<h1>Enter a New Figure:</h1>

<form action="figures" method="post">
  <label for="figure[name]">Figure Name:</label>
    <input id="figure_name" type="text" name="figure[name]"><br><br>

    <h2>Select a Title:</h2>
    <% Title.all.each do |title| %>
      <input type="checkbox" name="figure[title_ids][]" value="<%= title.id %>" id=title_"<%= title.name%>">
      <%= title.name %></input>
      <% end %>

    <h3>Or Enter a New Title:</h3>
      Figure Title: <input id="new_title" type="text" name="title[name]"><br><br>

    <h2>Select a Landmark:</h2>
    <% Landmark.all.each do |landmark| %>
      <input type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>" id=landmark_"<%= landmark.name%>">
      <%= landmark.name %></input>
      <% end %>

    <h3>Or Enter a New Landmark:</h3>
      Landmark: <input id="new_landmark" type="text" name="landmark[name]"><br><br>


    <input type="submit" value="Create New Figure">





</form>
